body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-align: left;
  padding: 4px 4px 4px 4px;
  color: white;
  font-size: 20px;
}

.chl {
  color: white;
}

.hov:hover {
  color: #393e46;
  background-color: white;
  border-radius: 5px;
}
